
/.project
/.settings
/core/.project
/core/.settings
/core/target
/core/.classpath
/examples/.project
/examples/.settings
/examples/target
/dashboard/target
/dashboard/.project
/dashboard/.setings
/dashboard/.classpath
/ejb/.classpath
/ejb/.project
/ejb/.settings/
/ejb/target/
/model/.classpath
/model/.project
/model/.settings/
/model/target/
